.pcUser {
  display: none;
}
.tbUser {
  display: none;
}
.spUser {
  display: none;
}
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/***********************************
* reset *
***********************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 100%;
  line-height: 160%;
  color: #000;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  line-height: 1;
	// -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/***********************************
* reset end *
***********************************/

/***********************************
* variable & function *
***********************************/
.border_radius {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/***********************************
* variable & function end *
***********************************/

a:link { text-decoration:none; color: #000;}
a:visited { text-decoration:none; color: #000;}
a:active { text-decoration:none; color: #000;}
a:hover { text-decoration:none; color: #000;}

h2 {
  // width: 40vw;
  font-size: 4vw;
}

/* .container
--------------------------- */
.container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/***********************************
* common *
***********************************/
.stageBase {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.stageBase .fieldWrap {
  padding: 100px 0 0 0;
  text-align: center;
}
.stage2 {
  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  transition: 1.5s;
}
/*
/***********************************
* pcUser *
***********************************/
.pcUser {
	.section_title {
		color: #ff4500;
		font-size: 3.5vw;
	}
	/* fixed menu start*/
	.containerMenu { //div
	  top: 0;
	  left: 0;
	  background: rgba(0, 0, 0, 0.1);
	  width: 100vw;
	  height: 90vh;
	  position: fixed;
	  z-index: 10;

	  #pageNavLeft { //nav
		  float: left;
		  width: 14vw;
		  text-align: center;
		}
		#pageNavRight { //nav
		  float: right;
		  width: 14vw;
		  text-align: center;
		}

		.pageNav ul { //nav > ul
		  width: 14vw;
		  display: block;

		  li {
		  	position: relative;
			  margin-top: 16vh;
			  width: 14vw;
			  height: 15px;
			  display: block;
			  overflow: hidden;

			  .li_right { //div
				  float: right;
				  width: 7vw;
				  height: 15px;
				  display: block;
				  //overflow: hidden;
				  position: relative;
				}
				.li_left { //li > div
				  float: left;
				  width: 7vw;
				  height: 15px;
				  display: block;
				  //overflow: hidden;
				  position: relative;
				}
				.bor_left, .bor_right { //div > p
				  display: inline-block;
				  width: 5vw;
				  height: 1px;
				  margin: 7px 0;
				  background: #333;
				  transition: 1s;
				  position: absolute;
				}
				.bor_left {
				  right: 0;
				}
				.bor_right {
				  left: 0;
				}
				span {
				  z-index: -1;
				  position: absolute;
				  top: 0;
				  width: 0vw;
				  height: 15px;
				  display: inline-block;
				  transition: 1s;
				}
				a {
				  width: 7vw;
				  height: 15px;
				  font-size: 1vw;
				  line-height: 15px;
				  overflow: hidden;
				  display: block;
				  transition: 1s;
				}
				.left_slide {
				  left: 0;
				}
				.right_slide {
				  right: 0;
				}
			} //li end
			.color_change {

				.bor_left, .bor_right {
				  background: #fff;
				}
				a {
				  color: #fff;
				}
			}
			.activeStage {

				.bor_left, .bor_right {
				  width: 0;
				}
				a {
				  color: #fff;
				}
				span {
				  width: 7vw;
				  background: #333;
				}
				.color_change a {
				  color: #333;
				}
				.color_change span {
				  width: 7vw;
				  background: #fff;
				}
			}
		}
	} // .containerMenu end
	/* fixed menu end*/

	/* 2 page start*/
	.overlay {
		width: 100%;
		height:100%;
		//position: fixed;
		top: 0;
		z-index: 5;
		background: rgba(0,0,0,0.6);

		.artists_box {
			width: 80vw;
			height: 80vh;
			position: absolute;
			top: 10vh;
			left: 10vw;
			z-index: 15;
			/*background: rgba(255,255,255,0.2);*/

			ul {
				width: 80vw;
				height: 20vh;
				margin-top: 5vh;
				overflow: hidden;
				li {
					float: left;
					margin-left: 5vw;
					width: 20vw;
					height: 10vh;
					transition: 0.7s;

					/*.artists_box img {
					  width: 20vw;
					  height: 10vh;
					}*/
				}
			}
		} // .artists_box end
		.artists_detail {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: none;
			width: 70%;
			height: 50%;
			z-index: 100;
			background: rgba(255,255,255,0.9);
		}
	} // .overlay end
	/* 2 page end*/
	/* 6 page start*/
	.contain_wrap06 {
		width: 64vw;
		height: 100vh;
		margin-left: 18vw;
		background: rgba(0, 0, 0, 0.1);

		h2 {
			text-align: left;
			margin: 5vh 0 0 1vw;
		}
	}
	/* 6 page end*/
	/* 7 page start*/
	.contain_wrap07 {
		width: 64vw;
		height: 100vh;
		margin-left: 18vw;
		background: rgba(0, 0, 0, 0.1);

		h2 {
			text-align: left;
			margin: 5vh 0 0 1vw;
		}
	}
	/* 7 page end*/
	/* 8 page start*/
	.stage8 {
		background: #333;
		color: #fff;

		.contain_wrap08 {
			width: 64vw;
			height: 100vh;
			margin-left: 18vw;

			h2, .ticket_title {
				text-align: left;
			}
			.price, .guide_str {
				text-align: right;
			}
			.title08 {
			  margin: 8vh 0 0 1vw;
			  padding-bottom: 3vh;
			}
			.ticket_title {
			  font-size: 2vw;
			  margin-top: 5vh;
			}
			.price {
			  font-size: 2vw;
			  margin: 2vh 4vw 0 0;
			}
			.notice_str {
			  font-size: 1.5vw;
			  margin-top: 4vh;
			}
			.entry {
			  margin: 4vh 0 0 1vw;
			  font-size: 6vw;
			}
		} // .contain_wrap08 end
	} // .stage8 end
	/* 8 page end*/
} //.pcUser end
/***********************************
* tbUser *
***********************************/

/***********************************
* spUser *
***********************************/
h2 {
	// height: 6vh;
	// line-height: 6vh;
  // font-size: 4vw;
	// font-size: calc(150% + 2vw);
}
.spUser {
	max-width: 768px;
	// background-image: url("../img/backimg_sp.jpg");
	position: relative; // important
	margin: 0 auto;

	/* common start */
	.hamMenuBox {
		width: 30px;
		height: 4vh;
		// background-color: rgba(0,0,0,0.2);
		position: fixed; // important
		top: 2.5vh;
		right: 2.5vw;
		z-index: 20;

		.hamMenuCont,
		.hamMenuCont span {
			display: inline-block;
			transition: all .4s;
			box-sizing: border-box;
		}
		.hamMenuCont {
			width: 30px;
			height: 4vh;
			// background-color: rgba(0,0,0,0.5);
			position: relative;; // important
			// top: 1.5vh;
			// right: 2.5vw;
			// z-index: 25;
			transition: 2.5s;

			span {
				position: absolute;
				top: 0;
				left: 0;
				width: 30px;
				height: 3px;
				// displazy: block;
				background-color: #000;
				// margin-bottom: 5px;
				border-radius: 4px
			}
			span:nth-of-type(1) {
				top: 0;
			}
			span:nth-of-type(2) {
				top: 10px;
			}
			span:nth-of-type(3) {
				top: 20px;
			}
		} // .hamMenuContCont
		.hamMenuCont.active {
			// float: right;
			// margin: 10px 10px;
			// position: absolute;
			// top: 5px;
			// right: 5px;
			// z-index: 100;

			span{
				background-color: #fff;
			}
			span:nth-of-type(1) {
				-webkit-transform: translateY(10px) rotate(-45deg);
				transform: translateY(10px) rotate(-45deg);
			}
			span:nth-of-type(2) {
				left: 50%;
				opacity: 0;
				-webkit-animation: active-menu-bar02 .8s forwards;
				animation: active-menu-bar02 .8s forwards;
			}
			span:nth-of-type(1) {
				-webkit-transform: translateY(10px) rotate(-45deg);
				transform: translateY(10px) rotate(-45deg);
			}
			span:nth-of-type(2) {
				left: 50%;
				opacity: 0;
				-webkit-animation: active-menu-bar02 .8s forwards;
				animation: active-menu-bar02 .8s forwards;
			}
			@-webkit-keyframes active-menu-bar02 {
				100% {
					height: 0;
				}
			}
			@keyframes active-menu-bar02 {
				100% {
					height: 0;
				}
			}
			span:nth-of-type(3) {
				-webkit-transform: translateY(-10px) rotate(45deg);
				transform: translateY(-10px) rotate(45deg);
			}
		} // .hamMenuCont.active
	} // .hamMenuBox
		/* fixed menu start */
	.containerMenu {
		max-width: 768px;
		position: relative;
		display: none;

		.menuWrap {
			top: 0;
			background: rgba(0, 0, 0, 0.6);
			width: 60vw;
			height: 100vh;
			position: fixed;
			z-index: 10;
			text-align: center;
			margin-left: 40vw;
			.pageNav {
		  	ul {
				  display: block;
					text-align: center;
				  li {
					  text-align: center;
					  display: block;
					  margin-top: 5vh;
						//width: 15vw;
						height: 6.5vh;
					}
					a {
						//font-size: 3.5vw;
						font-size: calc(100% + 0.2vw);
					  width: 60vw;
					  line-height: 6.5vh;
					  display: inline-block;
					  color: #fff;
					}
				}
		  } //.pageNav end
		}
	} //.containerMenu end
		/* fixed menu start */
	.on{
		display: block;
	}

	.list_show {
		width: 40px;
		height: 6vh;
		background-color: rgba(0,0,0,0.7);
		position: fixed; // important
		top: 2vh;
		left: 0;
		z-index: 20;
	}
	.list_box {
		width: 70vw;
		height: 100vh;
		background-color: rgba(0,0,0,0.6);
		position: fixed; // important
		top: 0;
		left: -70vw;
		z-index: 20;

		ul {
			display: block;
			margin-top: 2vh;

			li {
				text-align: center;
				display: block;
				height: 10vh;
				a {
					width: 60vw;
					display: inline-block;
					line-height: 10vh;
					font-size: calc(100% + 0.2vw);
					color: #fff;
				}
			}
		}
	}

	.stageBase {
		max-width: 768px;
		// position: relative;
		overflow: hidden;
		width: 100vw;
		height: 100vh;
		margin: 0 auto;
		// background: rgba(0,0,0,0);
		background-image: url("../img/backimg_sp.jpg");
		background-size: cover;

		.section_title {
			color: red;
			margin: 0 auto;
			height: 10vh;
			line-height: 10vh;
		  font-size: 8vw;
			font-size: calc(150% + 1vw);
		}

	} // .stageBase
	/* common end */


	.title02 {
		color: #333;
		margin: 0 auto;
		background: #333;
	}
	.artists_detail {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 70%;
		height: 50%;
		z-index: 100;
		// background: rgba(255,255,255,0.9);
	}
	/* 2 page start*/
	.stage2 {
		background: #333;
		.hamMenuCont.ham02 {
			span {
				background-color: #fff;
			}
		}
	}
	/* 2 page end*/

	/* 8 page start*/
	.stage8 {
		background: #333;
		color: #fff;
		height: 150vh;

		.contain_wrap08 {
			// width: 70vw;
			// margin-left: 10vw;
			// margin-right: 10vw;
			max-width: 768px;
			height: 150vh;
			margin: 0 auto;

			.hamMenuCont.ham08 {
				span {
					background-color: #fff;
				}
			}

			.ticket_title {
				text-align: left;
				font-size: calc(100% + 0.5vw);
			  margin: 5vw 10vw 0;
				word-wrap: break-word;
			}
			.ticket_note {
				text-align: left;
				font-size: calc(50% + 0.5vw);
			  margin: 2vw 10vw 0;
				word-wrap: break-word;
			}
			.price, .guide_str {
				text-align: right;
			}
			.price {
			  font-size: calc(100% + 0.5vw);
			  margin: 2vh 10vw 0 0;
			}
			.notice_str {
			  font-size: 1.5vw;
			  margin-top: 4vh;
			}
			.entry {
			  // margin: 4vh 0 0 1vw;
			  font-size: 6vmin;
				margin: 0 auto;
			}
		} // .contain_wrap08 end
	} // .stage8 end
	/* 8 page end*/

} //.spUser end




/* #pageDown
--------------------------- */
#pageDown {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 3;
}
#pageDown a {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: transparent url(../img/next_arw.png) no-repeat center center;
  display: block;
}

/***********************************
* plugin slider css don't touch!!!!! *
***********************************/
.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/***********************************
* plugin slider css don't touch!!!!! end *
***********************************/

/***********************************
* plugin slider css touch me ok!!! *
***********************************/
.slider {
    // width: 100vw;
    // height: ;
    overflow: hidden;
    margin: 0 auto;
}
.slider img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slick-slide { /*  */
  margin: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
/***********************************
* plugin slider css touch me ok end!!! *
***********************************/
