.pcUser {
  display: none; }

.tbUser {
  display: none; }

.spUser {
  display: none; }

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/***********************************
* reset *
***********************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  font-size: 100%;
  line-height: 160%;
  color: #000;
  text-align: center;
  background: #fff;
  position: relative;
  overflow: hidden;
  visibility: hidden;
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/***********************************
* reset end *
***********************************/
/***********************************
* variable & function *
***********************************/
.border_radius {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

/***********************************
* variable & function end *
***********************************/
a:link {
  text-decoration: none;
  color: #000; }

a:visited {
  text-decoration: none;
  color: #000; }

a:active {
  text-decoration: none;
  color: #000; }

a:hover {
  text-decoration: none;
  color: #000; }

h2 {
  width: 40vw;
  font-size: 4vw; }

/* .container
--------------------------- */
.container {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 1; }

/***********************************
* common *
***********************************/
.stageBase {
  width: 100%;
  position: relative;
  overflow: hidden; }

.stageBase .fieldWrap {
  padding: 100px 0 0 0;
  text-align: center; }

.stage2 {
  background-color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  transition: 1.5s; }

/*
/***********************************
* pcUser *
***********************************/
.pcUser {
  /* fixed menu start*/
  /* fixed menu end*/
  /* 2 page start*/
  /* 2 page end*/
  /* 6 page start*/
  /* 6 page end*/
  /* 7 page start*/
  /* 7 page end*/
  /* 8 page start*/
  /* 8 page end*/ }
  .pcUser .section_title {
    color: #ff4500;
    font-size: 3.5vw; }
  .pcUser .containerMenu {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100vw;
    height: 90vh;
    position: fixed;
    z-index: 10; }
    .pcUser .containerMenu #pageNavLeft {
      float: left;
      width: 14vw;
      text-align: center; }
    .pcUser .containerMenu #pageNavRight {
      float: right;
      width: 14vw;
      text-align: center; }
    .pcUser .containerMenu .pageNav ul {
      width: 14vw;
      display: block; }
      .pcUser .containerMenu .pageNav ul li {
        position: relative;
        margin-top: 16vh;
        width: 14vw;
        height: 15px;
        display: block;
        overflow: hidden; }
        .pcUser .containerMenu .pageNav ul li .li_right {
          float: right;
          width: 7vw;
          height: 15px;
          display: block;
          position: relative; }
        .pcUser .containerMenu .pageNav ul li .li_left {
          float: left;
          width: 7vw;
          height: 15px;
          display: block;
          position: relative; }
        .pcUser .containerMenu .pageNav ul li .bor_left, .pcUser .containerMenu .pageNav ul li .bor_right {
          display: inline-block;
          width: 5vw;
          height: 1px;
          margin: 7px 0;
          background: #333;
          transition: 1s;
          position: absolute; }
        .pcUser .containerMenu .pageNav ul li .bor_left {
          right: 0; }
        .pcUser .containerMenu .pageNav ul li .bor_right {
          left: 0; }
        .pcUser .containerMenu .pageNav ul li span {
          z-index: -1;
          position: absolute;
          top: 0;
          width: 0vw;
          height: 15px;
          display: inline-block;
          transition: 1s; }
        .pcUser .containerMenu .pageNav ul li a {
          width: 7vw;
          height: 15px;
          font-size: 1vw;
          line-height: 15px;
          overflow: hidden;
          display: block;
          transition: 1s; }
        .pcUser .containerMenu .pageNav ul li .left_slide {
          left: 0; }
        .pcUser .containerMenu .pageNav ul li .right_slide {
          right: 0; }
      .pcUser .containerMenu .pageNav ul .color_change .bor_left, .pcUser .containerMenu .pageNav ul .color_change .bor_right {
        background: #fff; }
      .pcUser .containerMenu .pageNav ul .color_change a {
        color: #fff; }
      .pcUser .containerMenu .pageNav ul .activeStage .bor_left, .pcUser .containerMenu .pageNav ul .activeStage .bor_right {
        width: 0; }
      .pcUser .containerMenu .pageNav ul .activeStage a {
        color: #fff; }
      .pcUser .containerMenu .pageNav ul .activeStage span {
        width: 7vw;
        background: #333; }
      .pcUser .containerMenu .pageNav ul .activeStage .color_change a {
        color: #333; }
      .pcUser .containerMenu .pageNav ul .activeStage .color_change span {
        width: 7vw;
        background: #fff; }
  .pcUser .overlay {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.6); }
    .pcUser .overlay .artists_box {
      width: 80vw;
      height: 80vh;
      position: absolute;
      top: 10vh;
      left: 10vw;
      z-index: 15;
      /*background: rgba(255,255,255,0.2);*/ }
      .pcUser .overlay .artists_box ul {
        width: 80vw;
        height: 20vh;
        margin-top: 5vh;
        overflow: hidden; }
        .pcUser .overlay .artists_box ul li {
          float: left;
          margin-left: 5vw;
          width: 20vw;
          height: 10vh;
          transition: 0.7s;
          /*.artists_box img {
            width: 20vw;
            height: 10vh;
          }*/ }
    .pcUser .overlay .artists_detail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: none;
      width: 70%;
      height: 50%;
      z-index: 100;
      background: rgba(255, 255, 255, 0.9); }
  .pcUser .contain_wrap06 {
    width: 64vw;
    height: 100vh;
    margin-left: 18vw;
    background: rgba(0, 0, 0, 0.1); }
    .pcUser .contain_wrap06 h2 {
      text-align: left;
      margin: 5vh 0 0 1vw; }
  .pcUser .contain_wrap07 {
    width: 64vw;
    height: 100vh;
    margin-left: 18vw;
    background: rgba(0, 0, 0, 0.1); }
    .pcUser .contain_wrap07 h2 {
      text-align: left;
      margin: 5vh 0 0 1vw; }
  .pcUser .stage8 {
    background: #333;
    color: #fff; }
    .pcUser .stage8 .contain_wrap08 {
      width: 64vw;
      height: 100vh;
      margin-left: 18vw; }
      .pcUser .stage8 .contain_wrap08 h2, .pcUser .stage8 .contain_wrap08 .ticket_title {
        text-align: left; }
      .pcUser .stage8 .contain_wrap08 .price, .pcUser .stage8 .contain_wrap08 .guide_str {
        text-align: right; }
      .pcUser .stage8 .contain_wrap08 .title08 {
        margin: 8vh 0 0 1vw;
        padding-bottom: 3vh; }
      .pcUser .stage8 .contain_wrap08 .ticket_title {
        font-size: 2vw;
        margin-top: 5vh; }
      .pcUser .stage8 .contain_wrap08 .price {
        font-size: 2vw;
        margin: 2vh 4vw 0 0; }
      .pcUser .stage8 .contain_wrap08 .notice_str {
        font-size: 1.5vw;
        margin-top: 4vh; }
      .pcUser .stage8 .contain_wrap08 .entry {
        margin: 4vh 0 0 1vw;
        font-size: 6vw; }

/***********************************
* tbUser *
***********************************/
/***********************************
* spUser *
***********************************/
.spUser {
  max-width: 768px;
  background-image: url("../img/backimg_sp.jpg");
  position: relative;
  margin: 0 auto;
  /* common start */
  /* common end */
  /* fixed menu start */
  /* 8 page start*/
  /* 8 page end*/ }
  .spUser .stageBase {
    max-width: 768px;
    position: relative;
    overflow: hidden;
    width: 100vw;
    margin: 0 auto;
    background: transparent; }
    .spUser .stageBase .section_title {
      color: red;
      margin: 0 auto; }
    .spUser .stageBase .hamMenu {
      width: 40px;
      height: 5vh;
      background-color: #fff;
      position: absolute;
      top: 10px;
      right: 0;
      z-index: 20; }
      .spUser .stageBase .hamMenu span {
        width: 40px;
        height: 5px;
        display: block;
        background-color: #000;
        margin-bottom: 5px; }
  .spUser .containerMenu {
    max-width: 768px;
    position: relative;
    display: none; }
    .spUser .containerMenu .menuWrap {
      top: 0;
      background: rgba(0, 0, 0, 0.5);
      width: 50vw;
      height: 100vh;
      position: fixed;
      z-index: 10;
      text-align: center;
      margin-left: 50vw; }
      .spUser .containerMenu .menuWrap .pageNav ul {
        display: block;
        text-align: center; }
        .spUser .containerMenu .menuWrap .pageNav ul li {
          text-align: center;
          height: 15px;
          display: block;
          margin-top: 5vh;
          height: 7vh; }
        .spUser .containerMenu .menuWrap .pageNav ul a {
          font-size: calc(50% + 1vw);
          width: 30vw;
          line-height: 7vh;
          display: inline-block;
          color: #fff; }
  .spUser .on {
    display: block; }
  .spUser .stage8 {
    background: #333;
    color: #fff; }
    .spUser .stage8 .contain_wrap08 {
      width: 80vw;
      height: 100vh;
      margin: 0 auto; }
      .spUser .stage8 .contain_wrap08 .ticket_title {
        text-align: left; }
      .spUser .stage8 .contain_wrap08 .price, .spUser .stage8 .contain_wrap08 .guide_str {
        text-align: right; }
      .spUser .stage8 .contain_wrap08 .ticket_title {
        font-size: 2vw;
        margin-top: 5vh; }
      .spUser .stage8 .contain_wrap08 .price {
        font-size: 2vw;
        margin: 2vh 4vw 0 0; }
      .spUser .stage8 .contain_wrap08 .notice_str {
        font-size: 1.5vw;
        margin-top: 4vh; }
      .spUser .stage8 .contain_wrap08 .entry {
        font-size: 6vw;
        margin: 0 auto; }

/* #pageDown
--------------------------- */
#pageDown {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  position: fixed;
  overflow: hidden;
  z-index: 3; }

#pageDown a {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: transparent url(../img/next_arw.png) no-repeat center center;
  display: block; }

/***********************************
* plugin slider css don't touch!!!!! *
***********************************/
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/***********************************
* plugin slider css don't touch!!!!! end *
***********************************/
/***********************************
* plugin slider css touch me ok!!! *
***********************************/
.slider {
  width: 100vw;
  height: 20vh;
  overflow: hidden;
  margin: 0 auto; }

.slider img {
  width: 100vw;
  height: 20vh; }

.slick-slide {
  /*  */
  margin: 0; }

.slick-slide img {
  width: 100%; }

.slick-prev:before,
.slick-next:before {
  color: black; }

/***********************************
* plugin slider css touch me ok end!!! *
***********************************/
